.container {
  width: 600px;
  height: 400px;
  border: black 10px solid;
}

.note {
  display: inline-block;
  margin: 5px;
  background-color: palegoldenrod;
  position: absolute;
}

.top-bar {
  width: auto;
  height: 30px;
  background-color: goldenrod;
}

.note-text {
  background-color: transparent;
  border: none;
}

.note .close-button {
  background-color: transparent;
  background-image: url(./close.png);
  background-size: cover;
  border: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  margin-right: 2px;
  display: none;
}

.close-button:hover {
  background-image: url(./close_black.png);
}

.note:hover .close-button {
  display: block;
}
